html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto, sans-serif;
	color: #64534d;
}
.goods {
	background-color: #9ea386;
	padding: 99px 0 86px;
	position: relative;
}
/* .goods::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	display: block;
	width: 100%;
	min-height: 108px;
	background-image: url("../img/toptri.svg");
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right -49px;
} */
.container-big {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}
.goods__title {
	color: #f8ede1;
	margin-bottom: 149px;
	text-align: center;
}
.section-title {
	font-family: Roboto, sans-serif;
	font-size: 36px;
}
.container-small {
	max-width: 1144px;
	padding: 0 10px;
	margin: 0 auto;
}
.goods-item {
	overflow: hidden;
	position: relative;
}
.goods__wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 30px;
}

.goods-item__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.goods-box {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	transition: transform 0.5s ease-in;
	transform: translateY(-150%);
}
.goods-item::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(248, 237, 225, 0.85), rgba(248, 237, 225, 0.85));
	transition: opacity 0.5s ease-in;
	opacity: 0;
}
.goods-item:hover.goods-item::before {
	opacity: 1;
}
.goods-item:hover .goods-box {
	transform: translateY(0);
}
.goods-box__title {
	font-family: Roboto, sans-serif;
	font-weight: 600;
	font-size: 32px;
	color: #64534d;
}
.goods-box__title-big {
	margin-right: auto;
	font-size: 20px;
	margin-bottom: 20px;
}
.goods-box__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 16px;
}
.goods-box__button {
	margin-right: auto;
	padding: 10px 25px;
	font-size: 12px;
}
.btn {
	display: inline-block;
	border: none;
	font-family: Roboto, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #f8ede1;
	background: #64534d;
	cursor: pointer;
}
.contact__wrapper {
	grid-template-columns: 1fr;
	background-color: #f8ede1;
}
.contact__img {
	display: none;
}

.contact-us {
	padding: 45px 27px 16px 27px;
}
.contact-us__title {
	text-align: center;
	margin-bottom: 50px;
}
.contact-us__descr {
	background-color: #9ea386;
	padding: 34px 13px;
}
.contact-us__text {
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #f8ede1;
}
.contact-us__text span {
	display: inline-block;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 30px;
}
.contact-us__form {
	text-align: center;
}
.contact-us__input {
	width: 100%;
	padding: 13px 19px;
	font-weight: 300;
	font-size: 14px;
	color: #64534d;
}
.contact-us__input:not(:last-child) {
	margin-bottom: 30px;
}
.contact-us__button {
	padding: 14px 40px;
}
.contact__iframe {
	display: none;
}
@media (min-width: 576px) {
	.goods-box__button {
		padding: 10px 25px;
		font-size: 22px;
	}
	.goods-box__text {
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 26px;
	}
	.goods-box__title-big {
		font-size: 40px;
		margin-bottom: 29px;
	}
	.section-title {
		font-size: 46px;
	}
	.goods__wrapper {
		margin-bottom: 30px;
		grid-template-columns: 41% 1fr 1fr;
		grid-template-rows: 280px 280px;
		gap: 30px 30px;
	}

	.goods-item:nth-child(1) {
		grid-column: span 1;
		grid-row: span 2;
	}
	.contact__wrapper {
		display: grid;
		grid-template-columns: 20% 35.7% auto;
		gap: 0px 0px;
		background-color: #f8ede1;
	}
	.contact-us__title {
		margin-bottom: 90px;
	}
	.contact-us__descr {
		background-color: #9ea386;
		padding: 54px 33px;
	}
	.contact-us__button {
		max-width: 377px;
		padding: 23px 100px;
		text-align: center;
	}
	.contact-us__input {
		display: block;
		max-width: 419px;
		width: 100%;
		padding: 25px 34px;
		font-family: Roboto, sans-serif;
		font-weight: 300;
		font-size: 22px;
		color: #64534d;
	}
	.contact__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.contact__iframe {
		display: block;
		height: 100%;
		width: 100%;
	}
	.contact-us__text {
		font-weight: 600;
		font-size: 34px;
		line-height: 45px;
		text-align: center;
		color: #f8ede1;
	}
	.contact-us__text span {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 46px;
	}
}
@media (min-width: 768px) {
	.goods__elem-1 {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-top: 262px solid transparent;
		border-left: 262px solid #64534d;
		border-bottom: 262px solid transparent;
	}
	.contact-us {
		padding: 115px 97px 160px 97px;
	}
	.goods__elem-2 {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 68px;
		height: 268px;
		background-color: #64534d;
	}
	.goods-button {
		background-image: url(../img/arrow.svg);
		background-repeat: no-repeat;
		background-position: center bottom;
		max-width: 678px;
		height: 43px;
		background-color: #f8ede1;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
	}

	.goods-button::after {
		position: absolute;
		display: block;
		content: "";
		width: 100%;
		height: 23px;
		border-left: calc(678px / 2) solid transparent;
		border-right: calc(678px / 2) solid transparent;
		border-top: 23px solid #f8ede1;
		bottom: -23px;
		left: 0;
	}
}
